.gantt-container.dark .calendarTop>text,
.gantt-container.dark .content>.bar>g>text,
.gantt-container.dark .calendar>text,
.gantt-container .calendar>rect,
.gantt-container .grid>.gridBody>.rows>rect {
  fill: #fff;
}

.gantt-container .calendarTop>text,
.gantt-container.dark .calendar>rect,
.gantt-container .calendar>text,
.gantt-container.dark .grid>.gridBody>.rows>rect {
  fill: #212b36;
}

.gantt-container .calendarTop>line,
.gantt-container .calendar>rect,
.gantt-container .grid>.gridBody>.rows>rect,
.gantt-container .grid>.gridBody>.ticks>line,
.gantt-container .grid>.gridBody>.rowLines>line {
  stroke: rgba(145, 158, 171, 0.2);
}

.gantt-container.c7635dc ._1KJ6x>rect:nth-child(2) {
  fill: #5B6E38;
}

.gantt-container.cFF3030 ._1KJ6x>rect:nth-child(2) {
  fill: #316C6C;
}

.gantt-container.cfda92d ._1KJ6x>rect:nth-child(2) {
  fill: #1B5283;
}

.gantt-container.c2065D1 ._1KJ6x>rect:nth-child(2) {
  fill: #352D19;
}

.gantt-container.c078DEE ._1KJ6x>rect:nth-child(2) {
  fill: #3A2514;
}

.gantt-container.c00A76F ._1KJ6x>rect:nth-child(2) {
  fill: #3B2030;
}